<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="dbProyectoCS"
            connectionString="Data Source=DESKTOP-9HVD4MR;Initial Catalog=dbProyectoCS;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
            providerName="Microsoft.Data.SqlClient" />
    </connectionStrings>
</configuration>